[Unit]
Description=Sync Obsidian files to Git repository
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/scripts/tools/obsidian/obsidian-sync.zsh
WorkingDirectory=%h/scripts/tools

[Install]
WantedBy=default.target
